################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/weatherforecast-api/bin/Debug/netcoreapp3.1
/.vs
/src/weatherforecast-api/obj
/debug.log
